.BauerBodoni{font-family: 'Bauer Bodoni';}
.AyarWagaung{font-family: 'Ayar Wagaung';}
.HelveticaLight{font-family: 'Helvetica Light';}
.Zawgyi-One, .Zawgyi-One input[type="text"]{font-family: "Zawgyi-One" !important;}
a{color:#4C9ED9;}
h4 a{color: #77f;}
body, input.m-wrap, button.m-wrap, select.m-wrap, textarea.m-wrap, select, .table-advance thead tr th{font-family: "Zawgyi-One"; font-size: 13px;}
a:hover, a:focus{text-decoration: none; color:#222;}
.wordwrap{max-width:160px; height:auto; padding:8px 4px;word-wrap:break-word;text-align: left;}
.dashboard-stat .description {
    width: 150px;
    padding-top: 15px;
    color: #eee;
}
.table-bordered thead:first-child tr:first-child th,.breadcrumb, .page-title,.portlet-title, .page-sidebar, .btn:hover, .btn:focus, .btn:active, .btn.active, .btn[disabled], .btn.disabled, .form-section,.trip_info h3, .trip_info span, .btn,td,th{font-family: "Zawgyi-One" !important;}
.trip_info li {
    background: none repeat scroll 0% 0% transparent;
    margin: 0px;
    position: relative;
    list-style: none;
}
.page-sidebar > ul > li a, .page-sidebar,span i,label, .total{font-family: "Ayar Wagaung";}
/*.controls label, .addnew-form label{font-family: "Zawgyi-One" !important;}*/

#contents .trip_info li {
    min-height: 30px;
    padding: 0px 0px 0px 230px;
}
.trip_info li > span:first-child {
    position: absolute;
    left: 0px;
    top: 0px;
}


.total, .trip_info{font-size: 14px;}
h3, th{font-family: "Georgia";}
/*.table td, .table th{text-align: right;}*/
.required{color:red;}
