.BauerBodoni{font-family: 'Bauer Bodoni';}
.AyarWagaung{font-family: 'Ayar Wagaung';}
.HelveticaLight{font-family: 'Helvetica Light';}
.Zawgyi-One, .Zawgyi-One input[type="text"]{font-family: "Zawgyi-One" !important;}
a{color:#4C9ED9;}
h4 a{color: #77f;}
body, input.m-wrap, button.m-wrap, select.m-wrap, textarea.m-wrap, select, .table-advance thead tr th{font-family: "Zawgyi-One"; font-size: 13px;}
a:hover, a:focus{text-decoration: none; color:#222;}
.wordwrap{max-width:160px; height:auto; padding:8px 4px;word-wrap:break-word;text-align: left;}
.dashboard-stat .description {
    width: 150px;
    padding-top: 15px;
    color: #eee;
}
.table-bordered thead:first-child tr:first-child th,.breadcrumb, .page-title,.portlet-title, .page-sidebar, .btn:hover, .btn:focus, .btn:active, .btn.active, .btn[disabled], .btn.disabled, .form-section,.trip_info h3, .trip_info span, .btn,td,th{font-family: "Zawgyi-One" !important;}
.trip_info li {
    background: none repeat scroll 0% 0% transparent;
    margin: 0px;
    position: relative;
    list-style: none;
}
.page-sidebar > ul > li a, .page-sidebar,span i,label, .total{font-family: "Ayar Wagaung";}
/*.controls label, .addnew-form label{font-family: "Zawgyi-One" !important;}*/

#contents .trip_info li {
    min-height: 30px;
    padding: 0px 0px 0px 230px;
}
.trip_info li > span:first-child {
    position: absolute;
    left: 0px;
    top: 0px;
}


.total, .trip_info{font-size: 14px;}
h3, th{font-family: "Georgia";}
/*.table td, .table th{text-align: right;}*/
.required{color:red;}

/**** End Print style for seat  */

/********************************************
* Print style for seat  */

    @media print and (color) {
        * {
          -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
          -moz-print-color-adjust: exact;
        }
       body{background-color: #fff !important;}
       .checkboxframe div, .checkboxframe b,.checkboxframe span{color: #fff !important;}

    }

    @media print {
        a{display: none;}
        li span, div{font-size: 12px !important;}
        .clear-fix{display: none;}
        label, span, div{font-size: 8px !important;}
        .hide-for-print{display: none !important;}
        .checkboxframe{height: 143px;overflow: hidden; min-width: 108px;}
        .check-a label{height: 141px;}
        .check-a label > .fit-a {
            display: block;
            position: relative;
            z-index: 1;
            min-width: 108px;
            height: 143px;
            cursor: pointer;
        }
        .fit-a {
            padding: 5px !important;
            line-height: 1.5em;
            border: 1px solid #000;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            font-size: 13px !important;
        }
        .small{font-size: 11px !important;}

        label{font-family: "Zawgyi-One" !important;}    
        .booking{background-color: #470203 !important;}
        .taken{background-color: #FF1711 !important;}
        .available{background-color: #5586C8 !important;}
        .padding_rmtype{padding: 2px 5px;}
        
        .row-fluid {
          width: 100%;
          *zoom: 1;
        }

        .row-fluid:before,
        .row-fluid:after {
          display: table;
          line-height: 0;
          content: "";
        }

        .row-fluid:after {
          clear: both;
        }

        .row-fluid [class*="span"] {
          display: block;
          float: left;
          width: 100%;
          min-height: 30px;
          margin-left: 1.127659574468085%;
          *margin-left: 1.074468085106383%;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }

        .row-fluid [class*="span"]:first-child {
          margin-left: 0;
        }

        .row-fluid .controls-row [class*="span"] + [class*="span"] {
          margin-left: 1.127659574468085%;
        }

        .row-fluid .span12 {
          width: 100%;
          *width: 99.94680851063829%;
        }

        .row-fluid .span11 {
          width: 91.48936170212765%;
          *width: 91.43617021276594%;
        }

        .row-fluid .span10 {
          width: 82.97872340425532%;
          *width: 82.92553191489361%;
        }

        .row-fluid .span9 {
          width: 74.46808510638297%;
          *width: 74.41489361702126%;
        }

        .row-fluid .span8 {
          width: 65.95744680851064%;
          *width: 65.90425531914893%;
        }

        .row-fluid .span7 {
          width: 57.44680851063829%;
          *width: 57.39361702127659%;
        }

        .row-fluid .span6 {
          width: 48.93617021276595%;
          *width: 48.88297872340425%;
        }

        .row-fluid .span5 {
          width: 40.42553191489362%;
          *width: 40.37234042553192%;
        }

        .row-fluid .span4 {
          width: 31.914893617021278%;
          *width: 31.861702127659576%;
        }

        .row-fluid .span3 {
          width: 23.404255319148934%;
          *width: 23.351063829787233%;
        }

        .row-fluid .span2 {
          width: 14.893617021276595%;
          *width: 14.840425531914894%;
        }

        .row-fluid .span1 {
          width: 6.382978723404255%;
          *width: 6.329787234042553%;
        }
    }
/**** End Print style for seat  */