.menu_container{
	background: lightcoral;
	width: 495px;
	min-height: 250px;
	margin: 0px -107px;
	padding: 10px;
}
.menu_container .left_menu{
	position: relative;
	float: left;
	width: 40%;
	/*border: 1px dashed;*/
}
.menu_container .left_menu .menu_city{
	padding: 5px 5px;
	text-shadow: 1px 1px 1px lightcoral;
	color: white;
	cursor: pointer;
}
.menu_container .left_menu .active{
	background: white;
	color: #FF823D;
	text-shadow:none;
}
.menu_container .right_menu{
	position: relative;
	float: left;
	width: 60%;
	/*border: 1px dashed;*/
	background: white;
	padding: 10px;
	min-height: 230px;
	overflow: scroll;
}
.menu_container .right_menu .township{
	position: absolute;
	display: none;
}
.menu_container .right_menu .township.active{
	display: block;
}
.menu_container .right_menu span{
	margin-bottom: 5px !important;
}
.menu_container .right_menu span:hover{
	background: #F20707 !important;
	cursor: pointer;
}
.menu_container .right_menu span.active{
	background: #F20707 !important;
	cursor: pointer;
}
.menu_container ul li{
	background: transparent !important;
	padding: 2px 2px !important;
	color: white !important;
}
.transparent{
	background: transparent !important;
}
.a_label{
	background: lightblue !important;
	text-decoration: none !important;
	cursor: default !important;
	/*color: #000 !important;*/
}
.delivery .top-bar-section ul li.active > a{
	background: lightcoral !important;
}
.delivery .delivery-submit{
	width: 70px;
	height: 39px;
	background: url('../img/delivery.png') no-repeat;
	top: 0px !important;
	cursor: pointer;
}
#delivery-info{
	width: 152px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 39px;
	text-align: left !important;
}