@font-face {
    font-family: "Ayar Wagaung";
    src: url('../fonts/ayar-wagaung/346801758-ayar_wagaung.eot');
    src: url('../fonts/ayar-wagaung/346801758-ayar_wagaung.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ayar-wagaung/346801758-ayar_wagaung.svg#Ayar Wagaung') format('svg'),
    url('../fonts/ayar-wagaung/346801758-ayar_wagaung.woff') format('woff'),
    url('../fonts/ayar-wagaung/346801758-ayar_wagaung.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Zawgyi-One';
  src: url('fonts/zawgyi-one/ZAWGYIONE.eot');
  src: local('Zawgyi-One'), url('fonts/zawgyi-one/ZAWGYIONE.woff') format('woff'), url('fonts/zawgyi-one/ZAWGYIONE.ttf') format('truetype'), url('fonts/zawgyi-one/ZAWGYIONE.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('../fonts/helvetica/helvetica-light.eot');
  src: local('helvetica Light'), url('../fonts/helvetica/helvetica-light.woff') format('woff'), 
      url('../fonts/helvetica/helvetica-light.ttf') format('truetype'), 
      url('../fonts/helvetica/helvetica-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}