@font-face {
    font-family:"Myanmar3", "Ayar Wagaung";
    src: url('../fonts/346801758-ayar_wagaung.eot');
    src: url('../fonts/346801758-ayar_wagaung.eot?#iefix') format('embedded-opentype'),
    url('../fonts/346801758-ayar_wagaung.svg#Ayar Wagaung') format('svg'),
    url('../fonts/346801758-ayar_wagaung.woff') format('woff'),
    url('../fonts/346801758-ayar_wagaung.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.nopadding{padding: 0;}
.ayar-wagaung{font-family:"Myanmar3", "Ayar Wagaung";color: white;}
.zawgyi-one{font-family:"Myanmar3", "Zawgyi-One";}
.hdtitle,.logotitle, .title, .top-bar .name{
      font-family:"Myanmar3",  'Ayar Wagaung',"Times New Roman",Times,serif;
      font-weight: 400;
      font-size: 1.1rem;
      text-transform: capitalize;
    }

.top-bar .top-bar-section ul li a, .top-bar .top-bar-section ul li ul li a{font-size: 16px;}
.top_left_menu{font-size: 11px;color: #727171; top: 10px;height: 1.5em; }
/*Top Bar Style*/
  .top-bar {
    background: transparent;
      overflow: visible;
      font-family:"Myanmar3",  Georgia,"Times New Roman",Times,serif;
      border-radius: 6px;
  }
    /*.top-bar .name {
        height: 25px;
        margin-right: 15px;
        font-size: 12px;
        text-transform: uppercase;
        z-index: 999;
    }
    .top-bar .name a{
        width: auto;
        margin-top: 0px;
        font-family:"Myanmar3", "Perpetua";
        font-weight: normal;
        color: white;
    }
    .top-bar .name img{margin-top: 1.5rem;}
    */
    .top-bar-section{margin-top: 1.1%; width: 100%;}
    
    .top-bar-section ul{background: #FF9A3C;width: 100%;}
    .top-bar-section ul li{min-width: 16.6%;background: #FF9A3C;}
    .top-bar-section ul li a{text-align: center;}
    .top-bar-section ul li ul{width: auto;}
    .top-bar-section ul li ul li a{text-align: left;}
    .slidetitle{color:#ff8004; font-size: 16px;}
    .top-bar-section li a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
      padding: 0px 8px;
      line-height: 45px;
      background: #FF9A3C;
      /*background:rgba(0,0,0,.1);*/
      color:#fff;
     }
    .top-bar-section .has-dropdown > a:after {  /*dropdown arrow style*/
      margin-right: 8px;
      border-color: #fff transparent transparent;
      
    }
    .top-bar-section li a:hover:not(.button), .top-bar-section li a:hover:not(.has-form) {
        background:#F07502;
        z-index: 9999;
    }
    .top-bar-section .dropdown li:not(.has-form) a:not(.button){
      background: #FF9A3C; 
    }
    .top-bar-section .dropdown li:hover:not(.has-form) > a:not(.button){
      background:#F07502;
    }
    .top-bar-section li:not(.has-form) a:hover:not(.button) {
      background: #F07502;
    }
    .top-bar-section ul li:hover > a,.top-bar-section ul li:hover:not(.has-form) > a {
        background: none repeat scroll 0% 0% #F07502; //for parent bgcolor
    }

    .top-bar-section ul li.active > a:hover {
        background: none repeat scroll 0% 0% #F07502;
    }
    .top-bar-section ul li.active > a {
        background: none repeat scroll 0% 0% #F07502;
    }

    nav.tab-bar{
      font-family:"Myanmar3", "BauerBodoni", Georgia,"Times New Roman",Times,serif;
      font-weight: 600;
      font-size: 1.3rem;
      z-index: 99999999;
      color: #F8941C;
      position: fixed;
      width: 100%;
    }
    a.menu-icon{color:#F8941C;}
    .menubar-icon{background:url('../images/menubar.png') no-repeat; width:120px; height:39px; margin-left:35px;}
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      border: medium none;
      /*content: "»";*/
      content: "";
      width: 14px; height: 14px;
      background-image: url('../img/glyphicons-halflings.png');
      background-position: -456px -72px;
      margin-top: -7px;
      right: 5px;
    }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown> a.active:after {
      border: medium none;
      /*content: "»";*/
      content: "";
      width: 14px; height: 14px;
      background-image: url('../img/glyphicons-halflings-white.png');
      background-position: -456px -72px;
      margin-top: -7px;
      right: 5px;
    }
/*for sub menu style*/
  .top-bar-section li ul{background: #fff; border:1px solid #888;}
  .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
      background: none repeat scroll 0% 0% #fff;color:#333; font-size: 11px;
      line-height: 2rem;
  }
  .top-bar-section .dropdown li:not(.has-form) a:not(.button).active{
    background: #F71E51;
  }
  .top-bar-section li ul li a:not(.button) {
      padding: 0px 8px;background: #fff; color:#fff; line-height: 35px; font-size: .9em;}
  .top-bar-section li ul li a:hover:not(.button) {
          /*background:rgba(0,0,0,.8);*/
          color:#F9941D;
  }
 /* .top-bar-section li > .dropdown:after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #FFF;
      border-left: 6px solid transparent;
      content: "";
  }
  .top-bar-section li > .dropdown:before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      content: "";
  }
  .dropdown {
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      margin: 2px 0px 0px;
      list-style: none outside none;
      background-color: #000;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      background-clip: padding-box;
      background: #000;
  }*/

  [class^="icon-"], [class*=" icon-"] {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-top: 7px;
      line-height: 14px;
      vertical-align: text-top;
      background-image: url('../img/glyphicons-halflings.png');
      /*background-position: -456px -72px;*/
      background-position: 14px 14px;
      background-repeat: no-repeat;
  }
  .icon-arrow-right {
      background-position: -456px -72px;
  }
  .dropdown > li > a:hover > [class^="icon-"],
  .dropdown > li > a:focus > [class^="icon-"],
  .dropdown > li > a:hover > [class*=" icon-"],
  .dropdown > li > a:focus > [class*=" icon-"],
  .dropdown > .active > a > [class^="icon-"],
  .dropdown > .active > a > [class*=" icon-"]{
      background-image: url('../img/glyphicons-halflings-white.png');
  }
/*end for submenu style*/
/*CONTENT FRAME*/
    /*.content-frame{background: rgba(0,0,0,.7); padding-top:1rem;}*/
    .contentframe, .row{ max-width: 75rem;margin: 0 auto;}
    .content-frame{height: 100%;}
      .contentframe-left-off-canvas-menu .site-links ul.pillars li a {
        padding: 0 !important; }
        .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu {
        -webkit-backface-visibility: hidden;
        width: 250px;
        top: 0;
        bottom: 0;
        height: 100%;
        position: absolute;
        overflow-y: auto;
        background: #000;
        z-index: 1001;
        box-sizing: content-box;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        width: 84%; 
      }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu * {
        -webkit-backface-visibility: hidden; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu hr {
        border-color: #444444;
        margin: 5px 0 10px 0 !important; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li.gs {
        padding: 0 1.08rem;
        margin-top: 8px; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li a {
        font-family:"Myanmar3",  Georgia,"Times New Roman",Times,serif;
        border-bottom: none !important;
        font-size: 1.1rem;
        padding: 0.2rem 0.95rem;
        color: #bbf;
        font-weight: 500; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li a:hover{
        color:#ff8004;
      }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li label {
        font-family:"Myanmar3",  Georgia,"Times New Roman",Times,serif;
        background: none !important;
        border-top: none !important;
        padding: 0.4rem 0.95rem 0.4rem 0.95rem !important;
        font-size: 1.095rem !important; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li label.first {
        padding-top: 0.75rem !important; }
      .contentframe.off-canvas-wrap.move-right > .inner-wrap {
        -webkit-transform: translate3d(83.5%, 0, 0);
        -moz-transform: translate3d(83.5%, 0, 0);
        -ms-transform: translate3d(83.5%, 0, 0);
        -o-transform: translate3d(83.5%, 0, 0);
        transform: translate3d(83.5%, 0, 0); }
      .contentframe.off-canvas-wrap.move-right a.exit-off-canvas {
        -webkit-backface-visibility: hidden;
        transition: background 300ms ease;
        cursor: pointer;
        box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1002; }
      .contentframe.off-canvas-wrap.move-right a.exit-off-canvas:hover {
          background: rgba(255, 255, 255, 0.05); } }
      .contentframe.off-canvas-wrap.move-left > .inner-wrap {
        -webkit-transform: translate3d(-83.5%, 0, 0);
        -moz-transform: translate3d(-83.5%, 0, 0);
        -ms-transform: translate3d(-83.5%, 0, 0);
        -o-transform: translate3d(-83.5%, 0, 0);
        transform: translate3d(-83.5%, 0, 0); }
      .contentframe.off-canvas-wrap.move-left a.exit-off-canvas {
        -webkit-backface-visibility: hidden;
        transition: background 300ms ease;
        cursor: pointer;
        box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1002; }
      .lt-ie10 .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu {
          left: -84%; }
      .lt-ie10 .contentframe.off-canvas-wrap .contentframe-right-off-canvas-menu {
          right: -84%; }
      .lt-ie10 .contentframe.off-canvas-wrap .move-left > .inner-wrap {
          right: 84%; }
      .lt-ie10 .contentframe.off-canvas-wrap .move-right > .inner-wrap {
          left: 84%; }

      .contentframe-left-off-canvas-menu .site-links {
          padding-bottom: 25px;
          margin-top: -5px; }
      .contentframe-left-off-canvas-menu .site-links ul.top {
          margin-top: 15px; }

      .contentframe-left-off-canvas-menu .site-links ul.top li {
          display: inline-block;
          margin-left: 0px;
          line-height: 1;
          font-family:"Myanmar3", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

      .contentframe-left-off-canvas-menu .site-links ul.top li.logo {
          margin-left: 0px;
          width: 60px;
          height: 10px; }

      .contentframe-left-off-canvas-menu .site-links ul.top li.logo a {
          margin-top: 1px;
          padding: 3px 8px 3px 0px !important;
          display: block;
          font-size: 0.9rem !important;
          height: 12px;
          width: 60px;
          background-size: 100%; }

      .contentframe-left-off-canvas-menu .site-links ul.top li.logo img {
          width: 60px;
          margin-top: -4px; }

      .contentframe-left-off-canvas-menu .site-links ul.top li a {
          text-transform: uppercase;
          font-size: 11px !important;
          color: #aaf;
          padding: 5px !important;
          font-weight: 600 !important; }

      .contentframe-left-off-canvas-menu .site-links ul.pillars {
          list-style: none; }
      .content-title{
          font-family:"Myanmar3", 'Ayar Wagaung';
          font-size: 1.2rem;
          color:#F9941D;
          margin-bottom: 29px;
        }

input[type="text"]{padding: .2rem .5rem;}
input[type="text"].txt_search{border: 2px solid #ff7224;}
.select2-container {min-width: 79%; max-width: 79%;font-family:"Myanmar3", "Zawgyi-One";}
.select2-container .select2-choice {background: transparent;border-radius: 0;border: 1px solid #DDD; height: 24px;line-height: 24px;}
.select2-container .select2-choice div {border-radius:0; background: transparent;} 
.select2-container .select2-choice span {color: #555;}
.delivery{margin-top: 4px;}
.deliver{position:absolute;width:21%; height: 2em; background: url('../skins/delivery.png') no-repeat; right: 0;bottom: -10px;}
.select2-container .select2-choice ,.select2-results{font-size: 11px;}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
    color: #f00;
}
select{width: 50%; padding:6px 2px;}
    .select2-choice, .addnew-form .select2-container-multi .select2-choices  {
        padding-top: 1px;
          overflow: auto;
    }
      .select2-container-multi{min-height: 150px;}
      .select2-drop {
        color: #F9941D;
        background-color: #eee;
      }
    .select2-container-active .select2-choice{border: 1px solid #ccc;}
    
    [class^="icon_"], [class*=" icon_"] {
      display: inline-block;
      width: 16px;
      height: 19px;
      line-height: 14px;
      vertical-align: text-top;
      margin-right: 11px;
    }
    .icon_kitchen{
      background: url('../skins/cooking.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_livingroom{
      width: 21px; height: 14px;
      margin-right: 4px;
      background: url('../skins/bedroom.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_baby{
      background: url('../skins/baby.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_men{
      background: url('../skins/man.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_women{
      background: url('../skins/women.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_computer{
      background: url('../skins/computer.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_mobile{
      background: url('../skins/mobile.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_electronic{
      background: url('../skins/electronic.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_camera{
      background: url('../skins/camera.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_shoe{
      background: url('../skins/shoe.png') no-repeat scroll 0% 0% transparent;
    }
    .icon_sport{
      background: url('../skins/sport.png') no-repeat scroll 0% 0% transparent;
    }
