
/*hot menu style*/
  .hot{position:absolute;top:-14px; width:30px; height:30px; background:#01A6EA;color:white;border-radius:1000px;z-index:96;font-size:11px;padding-top:0 !important; line-height:31px;}
    .hot:after {
        position: absolute;
        bottom: 1px;
        left: -3px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 9px solid #01A6EA;
        border-left: 5px solid transparent;
        content: "";
    }
/*free get page*/
  .category_title{font-size: 20px; border-bottom: 2px solid #FF9B64; padding-bottom: .2rem;}
  .large-2-half{width:20%; padding: .4rem; z-index: 8; position: relative;}
  .large-2-half:first-child{padding-left: 0;}
  .large-2-half:last-child{padding-right: 0;}

  .free_get_items{height: 336px;}
      .free_get_items .grid_four_frame{height: 323px;overflow: hidden;border:1px solid #ccc;}
      .free_get_items .grid_four_frame:hover{border:1px solid #FF9A3C;}
        .image_frames{height: 205px; overflow: hidden;position: relative; z-index: -1;}
        .item_description{background: rgba(230,230,230,.3); height: 170px;z-index: 9;width: 100%;margin-top: -15px;}
          .timesale{padding: .5rem 0 0 .5rem;font-size: 14px; color: #FF8440;}
          .item_title{  font-size: 14px;
						margin-top: 1.4rem;
						height: 32px;
						line-height: 25px;
						text-overflow: ellipsis;
						overflow: hidden;
						word-wrap: break-word;
						padding: 4px;
              }
            .item_title span{/*white-space: nowrap;*/ text-overflow: ellipsis;}
          .price_sold{margin: 1rem 0; padding: 6px 5px; }
          .item_price{color:#FF640C; font-size: 15px; float: left;}
          .sold_item{float: right;
					font-size: 12px;
					color: black;
					text-shadow: 1px 1px white;}
          del{float: left;color: #7d7d7d; font-size: 14px;}
          .like{background: url('../skins/love_icon.png') no-repeat scroll 0% 0% transparent; float: right; padding-left: 24px; height: 24px; color: #7c7c7c; font-size: 14px;background-position: 0 4px;}
          .navbar{list-style: none;display: block; margin-top: 0; padding-top: 4px;}
          .navbar li{float: left; width:20%; }
          .navbar li a{color:#888;}
    .grid-2-row{background: rgba(60,60,230,.1);}
    .grid{position: relative;}
      .grid img{max-width: 100%; top:-100%; bottom: -100%;left: 0; right: 0; margin: auto;position: absolute;}

  .second_row_grid_2_love{margin-top: 5px;}
  

