.group_sale {
	position: absolute;
	top: 200px;
	z-index: 9;
	background: url('../../img/person.png') no-repeat 1px 1px;
	background-size: 22px;
	padding-left: 29px;
	font-size: 18px;
	text-decoration: blink !important;
	text-shadow: 1px 1px 1px #FFF;
}

.share{
	width: 24px;
	height: auto;
	margin: 0 auto;
}

.l_price{
	font-family: -webkit-pictograph;
	font-size: 16px !important;
	text-shadow:2px 2px 2px #EBEBEB;
	margin-top: 5px;
}

.image_frames {
	height: 200px !important;
}

.sold_item span{
	font-size: 22px;
	color: #04A7EA;
	font-family: fantasy;
}

.person_sale{
	text-align: center !important;
	font-family: inherit;
	font-size: 22px !important;
	border-bottom: 1px dashed;
	margin-top: 16px !important;
	text-shadow: 1px 1px 1px white;
	margin-left: 17px;
	margin-right: 17px;
}

.person_sale img{
	float: left;
	margin: 153px 75px;
	width: 23px !important;
	opacity: 0.5;
}
.sub_grid_title{
	border-bottom: none !important;
	float: left !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
	width: 100%;
	text-align: left !important;
}
.grid-2-row .grid_title{
	font-size: 14px;
	padding-left: 49px;
}

.grid_title_bg{
	height: auto;
	padding-bottom: 10px;
}

.grid_title_bg.small img{
	margin: 144px 10px !important;
}

.grid_title_bg.small .person_sale{
	margin: 0px;
	margin-top: 10px !important;
}
.grid_four_frame {
    height: 332px !important;
}
.category_title img{
	width: 32px;
	margin-right: 10px;
}
.captain{
	padding: 0px 4px;
	font-size: 14px;
	color: #04A7EA;
}
.group_person li{
	padding: 10px 7px;
	color: #222;
	border-bottom: 1px dashed;
	border-bottom-color: beige;
}
.group_person li:last-child{
	border-bottom:none;
}
.group_person strong{
	float: right;
	font-size: 14px;
	margin-right: 10px;
}
.group_person strong.remove_user{
	float: right;
	color: red;
	font-size: 20px;
	margin-right: 10px;
}
.large-2-half {
	z-index: inherit !important;
}