body .ui-tooltip, .arrow:after {
background: #F45905;
/*border: 1px solid #ccc;*/
z-index: 99999;
}
body .ui-tooltip {
padding: 12px 13px;
color: white;
border-radius: 0px;
font: bold 14px "Helvetica Neue", Sans-Serif;
}	
.ui-tooltip {
padding: 8px;
position: absolute;
}
body .ui-tooltip {
/*border-width: 2px;*/
}
.magellan{height: 0px !important; margin: 0 !important;}
#navbarmagellan{width:40px; background:transparent;position:fixed;top: 15%;
right:0px; opacity:0;z-index: 99;		
}
.sub-nav dd.active a{border-radius: 0;-webkit-border-radius:0; -moz-border-radius:0; width:120px;}
#navbarmagellan dd{line-height: 2.9rem;text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 50px;

}
#navbarmagellan dd{
margin-left: 0px;
}
.sub-nav dt, .sub-nav dd, .sub-nav li{
background:  #2484DB;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a{
padding: 0px;
background: transparent;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover{
padding: 0px;
background: transparent;
}
.sub-nav dt.active, .sub-nav dd.active , .sub-nav li.active {
padding: 0px;
background: #F45905;
}
.sub-nav dt:hover, .sub-nav dd:hover , .sub-nav li:hover {
padding: 0px;
background: #F45905;
}
#navbarmagellan dd img{
margin-left: 5px;
width: 32px;
}
.sub-nav dd a{color: white; cursor: pointer;}
.sub-nav dd a:hover {width: 120px; }

@-webkit-keyframes navbarmagellan {
0% { top:0; }
10% { top:12%; }
20% { top:0; }
30% { top:12%; }
40% { top:-12%; }
50% { top:12%; }
60% { top:0; }
70% { top:12%; }
80% { top:-12%; }
90% { top:12%; }
100% { top:0; }
}

.arrow-wrap .arrow {
-webkit-animation: arrows 2.8s 0.4s;
-webkit-animation-delay: 3s;
}
.adv_brand {
position: relative;
overflow: hidden;
}

.adv_brand .two_col_frames {
position: relative;
width: 194px;
height: 403px;
float: left;
background: none repeat scroll 0% 0% #F5F5F5;
}

.adv_brand .two_col_frames .logo_wrap {
position: relative;
z-index: 95;
float: left;
width: 90px;
height: 90px;
}

.brand_logo_wrap {
width: 190px;
padding: 0px 2px;
}
.adv_brand .two_col_frames .brand_bg_white, .brand_bg_white {
position: absolute;
top: 0px;
left: 0px;
width: 63px;
height: 63px;
margin: 12px;
background: none repeat scroll 0% 0% #FFF;
}
.brand_bg_white {
transform: rotate(45deg);
}

.adv_brand .two_col_frames .logo_wrap .logo_link {
display: block;
width: 45px;
height: 45px;
position: absolute;
top: 33px;
left: 22px;
}

.adv_brand .two_col_frames .discount {
display: none;
position: absolute;
top: 0px;
left: 0px;
width: 90px;
height: 90px;
background: url('img/brand_hoverbg.png?1100777') no-repeat scroll 0% 0% transparent;
color: #FFF;
text-align: center;
}

.adv_brand .two_col_frames .gray_logo1 {
z-index: 96;
float: none;
top: 42px;
left: 42px;
width: 45px;
height: 45px;
}

.adv_brand .two_col_frames .gray_logo2 {
z-index: 96;
float: none;
top: 89px;
left: 42px;
width: 42px;
height: 45px;
}
.adv_brand .two_col_frames .gray_logo3 {
z-index: 96;
float: none;
top: 135px;
left: 42px;
width: 45px;
height: 45px;
}

.adv_brand .two_col_frames .brand_bg_gray {
position: absolute;
top: -23px;
left: -23px;
width: 63px;
height: 63px;
margin: 12px;
}

.clearfix {
}

.clearfix:after {
display: block;
content: ".";
height: 0px;
visibility: hidden;
clear: both;
font-size: 0px;
line-height: 0;
}

.grid{position: relative;}
.grid img{ top: -100%;bottom: -100%; left: 0;right: 0; margin: auto; position: absolute;}
.center_photo {max-height: 90% !important;}