.select2-container{min-width: 140px;}
#left_fix_line, #right_fix_line{width: 4%;opacity: 1; top:240px;}
.top-bar-section .dropdown{z-index: 97;}
.row{width: 100%;}
#deliver .select2-drop-multi {margin-top: -44px;}
#deliver .select2-results,#deliver .select2-container-multi .select2-choices .select2-search-choice,#deliver .select2-container .select2-choice span{
  font-size: 14px;
  color: #444;
}
#deliver .select2-container{min-width: 140px;}
.select2-container.frm_delivery_city, .select2-container.frm_delivery_township{min-width: 150px !important;max-width: 150px !important;}
div.switch input:last-of-type:checked + label, div.switch input:last-of-type:checked + span + label {
  right: -32%;
  left: auto;
  top: 3px;
}
[class^="upload"] span{margin-top: 0;}
.gallery-input ul li {max-width: 150px;}
#deliver .select2-container .select2-choice {line-height: 19px; height: 22px; border-radius: 0;}
#deliver .select2-results .select2-result-label {
  padding: 0px 7px 0px;
}
#deliver .select2-search input {font-size: .8rem;}
#deliver .select2-container .select2-choice div {background: transparent;}
#deliver .select2-container .select2-choice div b {background: url('../../../src/select2.png') no-repeat scroll 1px -2px transparent;}
.loading.small {width: 29px;background-size: 16px; background-position: 7px 3px; height: 20px !important;}
fieldset legend {background: transparent !important;}
fieldset img{ width: 80px; opacity: 1; cursor: pointer; }
fieldset img:hover{ opacity: 0.5; }
.right_menu a{
color: #727171;
}
.footer_menu ul li a{
color: #222222;
}
.qr_code{
	width: 100px;
}