.fit-a{color:white;text-align:center; padding-top: 39px;}
.checkboxframe input[type="checkbox"]{
  margin:9px;
  position: absolute;
  z-index: -1;
}
.radios{opacity: 1;}
.check-a .large-1{height: 30px; margin-top: 35px;}
.check-a .large-half{margin-top: 65px;}
.check-a label > .fit-a {
      display: block;
      position: relative;
      z-index: 1;
      min-width: 90px;
      min-height: 100%;
      cursor: pointer;
  }
.check-a label{height: 108px;}
.taken{background: #FF1711;/*url("../../img/rdored.png") repeat scroll transparent;*/}
.choose{background:  #52C789; /*url("../../img/rdoyellow.png") repeat scroll transparent;*/}
.available{background: #5586c8; /*url("../../img/rdogreen.png") repeat scroll transparent;*/}

body .ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid #ff8004;
  }
 body .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    border-radius: 4px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
  }	
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
.ui-tooltip {
    padding: 8px;
    position: absolute;
      box-shadow: 0 0 5px #aaa;
   }
   body .ui-tooltip {
    border-width: 2px;
   }
.tbhead{
  border:1px solid #bbb; padding-bottom:20px;
  margin-bottom: 24px;
}
.hdrow{background:#ccc;padding:0px 5px 11px 5px; font-weight: 600;}
.large-half {
    position: relative;
    width: 4.16666%; }

.bgcheckout{
    background: url("../../img/bg.gif") repeat scroll 0% 0% rgb(255, 255, 255);
}
.hdtitle {
border-bottom: 2px dotted #ccc;
border-top: 1px dotted #ccc;
margin-bottom: 24px;
margin-top: 0px;
}
.nopadding{padding: 0;}
#seating-map-creator {height: auto;}
.btn1.green:hover, .btn.green:focus, .btn.green:active, .btn.green.active, .btn.green.disabled, .btn.green[disabled] {
	    background-color: #1D943B !important;
	    color: #FFF !important;
	    /*padding:1em;*/
	}
	.btn1 {
    background-color: #FF951D;
    background-image: none;
    filter: none;
    border: 0px none;
    box-shadow: none;
    padding: 7px 14px;
    text-shadow: none;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #eee;
    cursor: pointer;
    outline: medium none;
    float: right;
    margin-left: 1em;
    border-radius: 0px !important;
	}
	#warning{border:1px solid #C09853;color: #333;
				padding: 9px 9px;
				margin-bottom: 13px;
				background: rgba(236, 210, 166, .1);}
	input[readonly] {
      background-color:#76817E;
      color :#eee;
    }
